<?xml version="1.0" encoding="UTF-8" ?>
<phpunit 
	convertNoticesToExceptions="false"
	convertWarningsToExceptions="false"
	backupGlobals="false">
	<testsuites>
		<testsuite name="cbMQTM">
			<directory>./include/cbmqtm</directory>
		</testsuite>
		<testsuite name="PearDBTest">
			<directory>./include/database</directory>
		</testsuite>
		<testsuite name="dbBackup">
			<directory>./include/db_backup</directory>
		</testsuite>
		<testsuite name="incEvents">
			<directory>./include/events</directory>
		</testsuite>
		<testsuite name="incFields">
			<directory>./include/fields</directory>
		</testsuite>
		<testsuite name="QGTest">
			<directory>./include/QueryGenerator</directory>
		</testsuite>
		<testsuite name="incUtils">
			<directory>./include/utils</directory>
		</testsuite>
		<testsuite name="WSTest">
			<directory>./include/Webservices</directory>
		</testsuite>
		<testsuite name="WFTest">
			<directory>./modules/com_vtiger_workflow</directory>
		</testsuite>
		<testsuite name="cbMapTest">
			<directory>./modules/cbMap</directory>
		</testsuite>
		<testsuite name="translations">
			<directory>./modules/cbtranslation</directory>
		</testsuite>
		<testsuite name="LeadsTest">
			<directory>./modules/Leads</directory>
		</testsuite>
		<testsuite name="MailManagerTest">
			<directory>./modules/MailManager</directory>
		</testsuite>
		<testsuite name="Picklists">
			<directory>./modules/Picklist</directory>
		</testsuite>
		<testsuite name="cbUsers">
			<directory>./modules/Users</directory>
		</testsuite>
		<testsuite name="Settings">
			<directory>./modules/Settings</directory>
		</testsuite>
		<testsuite name="cbCustomView">
			<directory>./modules/CustomView</directory>
		</testsuite>
		<testsuite name="cbWSAPP">
			<directory>./modules/WSAPP</directory>
		</testsuite>
		<testsuite name="cbData">
			<directory>./data</directory>
		</testsuite>
		<testsuite name="vtlib">
			<directory>./vtlib</directory>
		</testsuite>
	</testsuites>
</phpunit>
